body {
    width: 100%;
    min-height: 100vh;
    background-color: #A164DF;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    min-width: 320px;
}
.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
}
button {
    padding: 2rem 2rem;
    min-width: 180px;
    border-radius: 12px;
    background-color: #663399;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #663399d5;
}